<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>483870923501-h1utbkp92dolihj1u8gt1brk2jbbk8kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483870923501-h1utbkp92dolihj1u8gt1brk2jbbk8kr</string>
	<key>API_KEY</key>
	<string>AIzaSyD0yj6zv2it6s7EItnfutMCOc3vNUb_XLg</string>
	<key>GCM_SENDER_ID</key>
	<string>483870923501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schulzalexander.organicer</string>
	<key>PROJECT_ID</key>
	<string>organicer-69ae9</string>
	<key>STORAGE_BUCKET</key>
	<string>organicer-69ae9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483870923501:ios:301bdc350ecc882d</string>
	<key>DATABASE_URL</key>
	<string>https://organicer-69ae9.firebaseio.com</string>
</dict>
</plist>